/* style.css */
body{
  background: rgb(250,254,255);
  color: teal;
  font-size: 16px;
font-family: 'Roboto Mono', monospace;
}
h1{
  color: olive;
  font-weight: lighter;
  font-size: 25px;
}
h2 {
  color: olive;
  font-weight: lighter;
  font-size: 20px;
}
a {
  color: purple;
}
a:hover {
  text-decoration: none;
  color: aqua;
}
#baseline h1 p{
  color: red;
}
.blue-title{
  color:rgb(35,115,225);
  font-size :40px;
}